@font-face {
    font-family: atkinson hyperlegible;
    font-style: normal;
    font-weight: 400;
    src: local(""), url(../Fonts/Atkinson-Hyperlegible-Regular-102a.woff2) format("woff2") 
}

@font-face {
    font-family: atkinson hyperlegible;
    font-style: italic;
    font-weight: 400;
    src: local(""), url(../Fonts/Atkinson-Hyperlegible-Italic-102a.woff2) format("woff2")
}

@font-face {
    font-family: atkinson hyperlegible;
    font-style: normal;
    font-weight: 700;
    src: local(""), url(../Fonts/Atkinson-Hyperlegible-Bold-102a.woff2) format("woff2")
}

@font-face {
    font-family: atkinson hyperlegible;
    font-style: italic;
    font-weight: 700;
    src: local(""), url(../Fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2) format("woff2")
}

@font-face {
    font-family: atkinson hyperlegible;
    font-style: italic;
    font-weight: 700;
    src: local(""), url(../Fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2) format("woff2")
}

@font-face {
    font-family: petrona;
    font-weight: 400;
    src: local(""), url(../Fonts/Petrona-VariableFont_wght.woff2) format("woff2")
}

:root {
  --r-background-color: #F0F1EB;

  --r-main-font: Atkinson Hyperlegible;
  --r-main-font-size: 12pt;

  --r-heading-font: Petrona;
  --r-heading-font-size: 18pt;

  --r-heading-color: rgb(48, 65, 47);

  --r-code-font: monospace;

  --r-link-color: #6E6776;
  --r-link-color-dark: #25211c;
  --r-link-color-hover: #93734b;

  --r-selection-background-color: #304a1f;
  --r-selection-color: #fff;

  --r-bar: #FBFBFA;
  --r-highlight: #6E6776;

  --r-border-radius-1: 5px;
}

html {
  width: 100%;
  height: 100%;
  background-color: var(--r-background-color);
}

body {
  margin: auto;
  width: 90%;
  height: 100%;
  text-align: justify;
  font-family: var(--r-main-font);
  background-color: var(--r-background-color);
}

header {
  /*Path relative to file directory.*/
  background-image: url("../images/Background_1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-clip: border-box;

  width: 100%;
  margin: auto;

  border-style: transparent;
  border-width: 1px;
  border-radius: 15px;
}

p {
  font-size: var(--r-main-font-size);
  text-align: justify;
}

code {
  font-family: var(--r-code-font);
  font-size: var(--r-main-font-size);
}

h1 {
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
  font-size: var(--r-heading-font-size);
}


h2 {
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
}

figure {
  width: 100%;
}

a:link {
  color: var(--r-link-color);
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: var(--r-link-color-dark);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--r-link-color-hover);
  background-color: transparent;
  text-decoration: underline;
}

#title-block-header {
  width:100%;
  height: 17.5%;
  display: flex;
  margin: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

h1.title {
  font-size: 28pt;
  text-align:center;
}

div.header-title {
  width: 100%;
  display:inline;
  position:relative;
}

.nav-bar {
  width: 100%;
  position: relative;
  margin: auto;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  background-color: #A4A791;

  border-style: transparent;
  border-width: 1px;
  border-radius: var(--r-border-radius-1);
}

.nav-bar li {
  float: center;
  display: inline-block;
}

.nav-bar ul li a {
  color: var(--r-bar);
  padding: 0 20px;
  text-decoration: none;
  text-align: center;
}

.nav-bar li a:hover {
  background-color: var(--r-highlight);
  color: white;
}

.active {
  background-color: #A4A791;
}

.description p {
  text-align: center;
}

.panels {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.panels section {
  flex-grow: 3;
}

.panels h2 {
  text-align: center;
}

.level2 {
  padding: 0px 10px;

  border-style: transparent;
  border-width: 1px;
  border-radius: var(--r-border-radius-1);

  background-color: var(--r-bar);
}

