<style> /* Style tag here so this CSS can be integrated into the HTML header */
:root {
  --r-background-color: #F0F1EB;

  --r-main-font: Georgia, Palatino Linotype, Book Antiqua, Palatino, FreeSerif, serif;

  --r-main-font-size: 12px;

  --r-main-color: #000000;
  --r-block-margin: 20px;

  --r-heading-margin: 0 0 50px 0;
  --r-heading-font: Palatino Linotype, Book Antiqua, Palatino, FreeSerif, serif;
  --r-heading-color: rgb(48, 65, 47);
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: none;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: normal;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 8em;
  --r-heading2-size: 6em;
  --r-heading3-size: 4em;
  --r-heading4-size: 2em;

  --r-base-font-size: 2em;
  --r-code-font: monospace;

  --r-link-color: #fff000;
  --r-link-color-dark: #25211c;
  --r-link-color-hover: #93734b;
  --r-selection-background-color: #304a1f;
  --r-selection-color: #fff;
}

html {
  width: 100%;
  height: 100%;
  background-color: var(--r-background-color);
}

body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  text-align: justify;
  font-family: var(--r-main-font);
}

title {
  margin: 0 auto;
  padding: 70px 0;
  text-align: center;
  color: var(--r-heading-color);
  size: var(--r-heading1-size);
}

header {
  background-image: url("images/Background_1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 10%;
  padding: 60px 0;
  text-align: center;
  border-style: transparent;
  border-width: 1px;
  border-radius: 15px;
}

code {
  font-family: var(--r-code-font);
}

h1 {
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
}

h2 {
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
}

a:link {
  color: var(--r-link-color);
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: var(--r-link-color-dark);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--r-link-color-hover);
  background-color: transparent;
  text-decoration: underline;
}

</style>
