<style> /* Style tag here so this CSS can be integrated into the HTML header */
:root {
  --r-background-color: #F0F1EB;

  --r-main-font: Georgia, Palatino Linotype, Book Antiqua, Palatino, FreeSerif, serif;

  --r-heading-font: Palatino Linotype, Book Antiqua, Palatino, FreeSerif, serif;
  --r-heading-color: rgb(48, 65, 47);

  --r-code-font: monospace;

  --r-link-color: #387C89;
  --r-link-color-dark: #25211c;
  --r-link-color-hover: #93734b;

  --r-selection-background-color: #304a1f;
  --r-selection-color: #fff;
}

html {
  width: 100%;
  height: 100%;
  background-color: var(--r-background-color);
}

body {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: justify;
  font-family: var(--r-main-font);
}

header {
  background-image: url("images/Background_1.svg");
  background-size: stretch;
  background-repeat: no-repeat;
  background-position: center top;
  background-clip: border-box;

  border-style: transparent;
  border-width: 1px;
  border-radius: 15px;
}

#title-block-header {
  padding: 0 0;
  width:100%;
  height: 17.5%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

code {
  font-family: var(--r-code-font);
}

h1 {
  padding: 0 0;
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
}

header h1 {
}

h2 {
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
}

a:link {
  color: var(--r-link-color);
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: var(--r-link-color-dark);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--r-link-color-hover);
  background-color: transparent;
  text-decoration: underline;
}

.nav-bar {
  padding: 0 0;
  margin: auto;
}

.nav-bar ul {
  list-style-type: none;
  padding: 0 0;
  overflow: hidden;
  background-color: #A4A791;
}

.nav-bar li {
  float: left;
}

.nav-bar ul li a {
  display: block;
  color: #FBFBFA;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
}

.nav-bar li a:hover {
  background-color: #6E6776;
  color: white;
}

.active {
  background-color: #A4A791;
}

</style>
