:root {
  --r-background-color: #F0F1EB;

  --r-main-font: Georgia;
  --r-main-font-size: 12pt;

  --r-heading-font: Garamond;
  --r-heading-font-size: 18pt;

  --r-heading-color: rgb(48, 65, 47);

  --r-code-font: monospace;

  --r-link-color: #387C89;
  --r-link-color-dark: #25211c;
  --r-link-color-hover: #93734b;

  --r-selection-background-color: #304a1f;
  --r-selection-color: #fff;

  --r-bar: #FBFBFA; 
  --r-highlight: #6E6776;
}

html {
  width: 100%;
  height: 100%;
  background-color: var(--r-background-color);
}

body {
  margin: auto;
  width: 90%;
  height: 100%;
  text-align: justify;
  font-family: var(--r-main-font);
  background-color: var(--r-background-color);
}

header {
  /*Path relative to file directory.*/
  background-image: url("../images/Background_1.svg");
  background-size: stretch;
  background-repeat: no-repeat;
  background-position: center top;
  background-clip: border-box;

  width: 100%;

  border-style: transparent;
  border-width: 1px;
  border-radius: 15px;

}

p {
  font-size: var(--r-main-font-size);
}

code {
  font-family: var(--r-code-font);
  font-size: var(--r-main-font-size);
}

h1 {
  padding: 0 0;
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
  font-size: var(--r-heading-font-size);
}


h2 {
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
}

a:link {
  color: var(--r-link-color);
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: var(--r-link-color-dark);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--r-link-color-hover);
  background-color: transparent;
  text-decoration: underline;
}
#title-block-header {
  padding: 0 0;
  width:100%;
  height: 17.5%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 22pt;
}

.nav-bar {
  padding: 0 0;
  margin: auto;
}

.nav-bar ul {
  list-style-type: none;
  padding: 0 0;
  overflow: hidden;
  background-color: #A4A791;
}

.nav-bar li {
  float: left;
}

.nav-bar ul li a {
  display: block;
  color: var(--r-bar);
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
}

.nav-bar li a:hover {
  background-color: var(--r-highlight);
  color: white;
}

.active {
  background-color: #A4A791;
}

.panels {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.level2 {
  padding: 0px 10px;
  max-width: 30%;

  border-style: transparent;
  border-width: 1px;
  border-radius: 5px;

  background-color: var(--r-bar);
}

